* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;

    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
}

header {
    height: 60px;
    background: #222;
}

header section.left, header section.center, header section.right {
    float: left;
    line-height: 60px;
}

header section.left {
    width: 30%;
}

header section.center {
    width: 50%;
}

header li {
    display: inline-block;
}

header a {
    display: block;
    color: #fff;
    padding: 0 5px;
    font-size: 20px;
}

header a:hover {
    background: #fff;
    color: #000;
}

header section.right {
    width: 20%;
    text-align: right;
}

header section.right ul {
    padding-right: 10px;
}

header h1 {
    padding-left: 10px;
    color: #fff;
}

.Application {
    width: 80%;
    min-height: calc(100vh - 60px);
    margin: 0 auto;
    background: #ddd;
}
