.products {
    width: 94%;
    padding: 20px;
    margin: 0 auto;
}

.product-card {
    height: 300px;
    width: 250px;
    padding: 20px;
    border: 1px solid #000;
    background: #a5a5a5;
    cursor: pointer;
    float: left;
    margin: 10px;
}

.product-card:hover {
    opacity: 0.7;
}

.product-header {
    height: 50px;
    text-align: center;
}
.product-description {
    height: 200px;
    padding: 3px;
    text-align: center;
}

.product-footer {
    height: 50px;
}

.product-footer .left, .product-footer .center, .product-footer .right{
    float: left;
    width: calc(100% / 3);
}
